/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* cross browser reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; 
    /* line height is 1.7 times the default */
    color: #777;
    padding: 30px;
}

.header{
    height: 95vh;
    background-image: linear-gradient(
    to right bottom,
      rgba(126, 213, 111, 0.801), 
      rgba(40, 180, 133, 0.801)) ,
      url(../img/hero.jpg);
    background-size: cover;        /* Stretches(adjusts) along with viewport */
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}