/* cross browser reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  /* line height is 1.7 times the default */
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
  background-size: cover;
  /* Stretches(adjusts) along with viewport */
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.header__logo-box {
  position: absolute;
  /* it is relative to parent header  */
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  /* it is relative to parent header  */
  left: 50%;
  transform: translate(-50%, -50%);
  /* This is with respect to the element itself*/
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(7rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* x-shadow y-shadow blur*/ }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  /* mandatory*/
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  transition: all .4s;
  /* animation effect for after hover btn */ }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  /* fades out the animation on hover*/ }

.btn--animated {
  animation: moveInBottom 2s ease-out .60s;
  animation-fill-mode: backwards;
  /* Since we are setting a delay, btn is already visible.
                                    This avoids that and sets the element to 0% of animation*/ }

.container {
  bottom: .01%;
  right: .5%;
  margin: 0 auto;
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden; }

.planet {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/planet.png) no-repeat center center;
  background-size: 35%; }

.rocket {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/rocket.png) no-repeat 5% center;
  background-size: 30%;
  visibility: hidden;
  /* Chrome still requires the -webkit- prefix */
  -webkit-animation: orbit 2s linear infinite;
  animation: orbit 2s linear infinite;
  animation-delay: 2s;
  transition: background-position 0.8s; }

@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes orbit {
  from {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
