.header{
    height: 95vh;
    background-image: linear-gradient(
    to right bottom,
      rgba($color-primary-light, 0.801), 
      rgba($color-primary-dark, 0.801)) ,
      url(../img/hero.jpg);
    background-size: cover;        /* Stretches(adjusts) along with viewport */
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box{
        position: absolute;    /* it is relative to parent header  */
        top: 4rem;
        left: 4rem;
    }
    &__logo{
        height: 3.5rem  /* browser defines the width of the logo */
    }
    
    &__text-box{
        position: absolute;
        top: 40%;    /* it is relative to parent header  */
        left: 50%;
        transform: translate(-50%, -50%);  /* This is with respect to the element itself*/
        text-align: center;
    }
}

