.btn{
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative; 
        
    }
    
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2); /* x-shadow y-shadow blur*/

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;  /* fades out the animation on hover*/
        }
     }
    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--white{
        background-color:$color-white;
        color:$color-grey-dark;

        &::after{
            background-color:$color-white;
         }
        
    }
    &::after{
        content: "";  /* mandatory*/
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -1;
        transition: all .4s;  /* animation effect for after hover btn */
    }
    
    &--animated{
        animation: moveInBottom 2s ease-out .60s;
        animation-fill-mode: backwards; /* Since we are setting a delay, btn is already visible.
                                        This avoids that and sets the element to 0% of animation*/
    }
}
